/* fonts */

/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

/* BEFORE HEADER */
/* -> first home view */
/* -> home video */
/* -> reserve form */

/* HEADER */
/* -> header */
/* -> menu */

/* MAIN CONTENT */
/* -> find restaurant */
/* -> auto slideshow 1 */
/* -> discover menu */
/* -> auto slideshow 2 */
/* -> social */
/* --> message */
/* --> social networks */

/* FOOTER */
